<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ExitTestAssignment">
<listeners>
		<listener class-name="Utilities.ExtentReport" />
	</listeners>

	<test name="Appium Test" thread-count="5">

	<classes>
		
		<class name="Runner.RunnerTest" />
		
	</classes>
	</test>
</suite>